* {
  @apply m-0 p-0;
}

html, body, #root {
  @apply h-full overflow-hidden;
}

:root {
  --ctp-50: 250, 250, 250;
  --ctp-100: 245, 245, 245;
  --ctp-200: 229, 231, 235;
  --ctp-300: 209, 213, 219;
  --ctp-400: 156, 163, 175;
  --ctp-500: 107, 114, 128;
  --ctp-600: 75, 85, 99;
  --ctp-700: 55, 65, 81;
  --ctp-800: 31, 41, 55;
  --ctp-900: 17, 24, 39;
  --ctp-950: 3, 7, 18;
}

.dark {
  --ctp-50: 205, 214, 244;
  --ctp-100: 186, 194, 222;
  --ctp-200: 166, 173, 200;
  --ctp-300: 127, 132, 156;
  --ctp-400: 108, 112, 134;
  --ctp-500: 88, 91, 112;
  --ctp-600: 69, 71, 90;
  --ctp-700: 49, 50, 68;
  --ctp-800: 30, 30, 46;
  --ctp-900: 24, 24, 37;
  --ctp-950: 17, 17, 27;
}
